.card{
    background-color: rgba(42, 30, 202, 0.74);
    border: 2px;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.cientificoPhoto{
    width: 50%;
    margin-top: 5px;
    width: 150px; 
    height: 200px; 
    border-radius: 160px / 100px; 
    border: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
p{
    color: white;
}
blockquote{
    color: bisque;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.name{
    color: aquamarine;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

