body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}
.container{
    text-align: center;
    width: 80vw;
    
}
.card-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}
.main-title{
    color:white;
    font-size: 50px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    
}

@media(max-width: 1024px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:760px){
    .card-container{
        grid-template-columns: 1fr;
    }
}